/** @format */
@font-face {
	font-family: "ThaleahFat";
	src: url("assets/font/ThaleahFat.ttf");
}
@font-face {
	font-family: "Press Start 2P";
	src: url("assets/font/PressStart2P-Regular.ttf");
}
@font-face {
	font-family: "Digitizer";
	src: url("assets/font/Digitizer.otf");
}
@font-face {
	font-family: "PixelCaps";
	src: url("assets/font/PixelCaps.ttf");
}
.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}
.labelcard_image {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	background-image: url("./assets/images/avatar.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
